*{
    color: white;
}
h1{
    font-size: 50px;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#drummer_box{
    height: 350px;
    width: 30%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
}
button{
    width: 30%;
    height: 22%;
    border-radius: 15px;
}
.w{
    background-image: url(../images/crash.png);
    background-size: cover;
}
.a{
    background-image: url(../images/kick.png); 
    background-size: cover;
}
.s{
    background-image: url(../images/snare.png); 
    background-size: cover;
}
.d{
    background-image: url(../images/tom1.png); 
    background-size: cover;
}
.j{
    background-image: url(../images/tom2.png); 
    background-size: cover;
}
.k{
    background-image: url(../images/tom3.png); 
    background-size: cover;
}
.l{
    background-image: url(../images/tom4.png); 
    background-size: cover;
}
